.App {
  text-align: center;
}

.container {
    display: flex;
}

.color {
    order: 1;
    width: 10%;
    padding: 25% 80px 25% 80px;
}

.color > input {
    margin-top: 5px;
    margin-bottom: 5px;
}

input.add {
    position: relative;
    display: inline-block;
    width: 100%;
    border: none;
    font-size: 3em;
    background-color: #bbb;
    border-radius: 0;
}

input.add:hover {
    cursor: pointer;
}

